example
src
.husky
.vscode
.DS_Store

pnpm-lock.json
package-lock.json
yarn.lock

.gitignore
.tsup
tsconfig.json
tsup.config.ts

.npmignore
.eslintignore
.eslintrc.cjs
.prettierignore
.prettierrc
.vcmrc.js
